

<hr>
<h2>Request a Brainstorm </h2>

<!-- Cal floating-popup embed code begins -->
<script type="text/javascript">
  (function (C, A, L) { let p = function (a, ar) { a.q.push(ar); }; let d = C.document; C.Cal = C.Cal || function () { let cal = C.Cal; let ar = arguments; if (!cal.loaded) { cal.ns = {}; cal.q = cal.q || []; d.head.appendChild(d.createElement("script")).src = A; cal.loaded = true; } if (ar[0] === L) { const api = function () { p(api, arguments); }; const namespace = ar[1]; api.q = api.q || []; if(typeof namespace === "string"){cal.ns[namespace] = cal.ns[namespace] || api;p(cal.ns[namespace], ar);p(cal, ["initNamespace", namespace]);} else p(cal, ar); return;} p(cal, ar); }; })(window, "https://app.cal.com/embed/embed.js", "init");
Cal("init", "brainstorm", {origin:"https://cal.com"});

  Cal.ns.brainstorm("floatingButton", {"calLink":"sauraav/brainstorm","config":{"layout":"week_view"},"buttonText":"AI Consulting Services"}); 
  Cal.ns.brainstorm("ui", {"styles":{"branding":{"brandColor":"#000000"}},"hideEventTypeDetails":false,"layout":"week_view"});
  </script>
  <!-- Cal floating-popup embed code ends -->


<div class="container">
  <div class="columns">
    <div class="column is-half">
      <form action="https://api.staticforms.xyz/submit" method="post" id="staticform" onsubmit="return alert('Thank you for reaching out, will revert back shortly');">
        <!-- Replace with your StaticForms accessKey -->
        <input type="hidden" name="accessKey" value="5c78a93d-5d86-41c6-ac8b-eebf8f773ca9">
        <input type="hidden" name="subject" value="New Submission on AI Consulting Services form on sauravtom.github.io |">
        <!-- Replace with the url you want to redirect to -->
        <input type="hidden" name="redirectTo" value="https://sauravtom.github.io/ai-consulting-services/">
        <div class="field">
          <label class="label">Name</label>
          <div class="control">
            <input class="input" type="text" name="name" placeholder="Enter Your Name" required>
          </div>
        </div>
        <div class="field">
          <label class="label">Email</label>
          <div class="control">
            <input class="input" type="email" name="email" placeholder="Enter Your Email" required>
          </div>
        </div>
        <div class="field">
          <label class="label">Message</label>
          <div class="control">
            <textarea class="textarea" rows="4" cols="50" name="message" placeholder="Enter Your Message" required></textarea>
          </div>
        </div>
        <button class="button is-primary" type="Submit">Submit</button>
      </form>
    </div>
  </div>
</div>

<!-- Cal inline embed code begins -->
<div style="width:100%;height:100%;overflow:scroll" id="my-cal-inline"></div>
<script type="text/javascript">
  (function (C, A, L) { let p = function (a, ar) { a.q.push(ar); }; let d = C.document; C.Cal = C.Cal || function () { let cal = C.Cal; let ar = arguments; if (!cal.loaded) { cal.ns = {}; cal.q = cal.q || []; d.head.appendChild(d.createElement("script")).src = A; cal.loaded = true; } if (ar[0] === L) { const api = function () { p(api, arguments); }; const namespace = ar[1]; api.q = api.q || []; if(typeof namespace === "string"){cal.ns[namespace] = cal.ns[namespace] || api;p(cal.ns[namespace], ar);p(cal, ["initNamespace", namespace]);} else p(cal, ar); return;} p(cal, ar); }; })(window, "https://app.cal.com/embed/embed.js", "init");
Cal("init", "brainstorm", {origin:"https://cal.com"});

  Cal.ns.brainstorm("inline", {
    elementOrSelector:"#my-cal-inline",
    config: {"layout":"month_view"},
    calLink: "sauraav/brainstorm",
  });

  Cal.ns.brainstorm("ui", {"styles":{"branding":{"brandColor":"#000000"}},"hideEventTypeDetails":false,"layout":"month_view"});
  </script>
  <!-- Cal inline embed code ends -->

