
/* Layout */

@font-face {
font-family:"FF Tisa";
src: url("/static/FFTisa/TisaPro-Regular.otf") /* EOT file for IE */
}

@font-face {
font-family:"FF Tisa boldslant";
src: url("/static/FFTisa/TisaPro-BoldIta.otf") /* EOT file for IE */
}

h1{
  font-family: 'FF Tisa boldslant', 'San', serif;
}
body {
  font-family: 'FF Tisa', 'San', serif;
  width:100%;
  height:100%;
  margin-bottom: 30px;
}

a{
  text-decoration: none;
  border-bottom: 1px dashed #999;
}

.content>.page-list{
  list-style-type: none;
}
.page-list{
  width:100%
  background:blue;
}
.title:first-letter{
  font-size:140%;
}
.page-list>.title>.date{
  float: right;
}
.page-list>.title{
  background: rgba(248, 248, 255, 0.47);
  padding:30px;
  margin: 10px;
  width:100%;
  //border: 1px dashed #999;
}


          * {
              -webkit-box-sizing: border-box;
              -moz-box-sizing: border-box;
              box-sizing: border-box;
          }

          .box {
              width: 900px;
              margin: 40px auto;
          }

          .topbar{
            position:absolute;
            top:0px;
            right:0px;
            left:0px;
            height:10px;
            background-color: rgba(36, 197, 211, 0.51);
          }
          .content{
            //background: blue;
            margin-left: 200px;
          }

@keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}

.sidebar{
  -webkit-box-shadow: inset 0 0 20px 0px #000000;
  position: fixed;
  top:0px;
  bottom:0px;
  left:0px;
  width:300px;
  opacity:0.8;
  background-image: url("/static/back3.jpg");
  background-position: 0px 0px;
  background-repeat: repeat-x;
  animation: animatedBackground 30s linear infinite;
}

          .nav-menu{
            position: fixed;
            left:35px;
            top:30%;
            //margin-left: 200px;
          }
          .nav-menu>a{
            padding: 10px;
            margin: 10px;
            background: ghostwhite;
            display: list-item;
            list-style-type: none;
            border:1px dashed;
            opacity: 0.5;
          }