/**************
   Top Lvl Css           
****************/

@font-face {
font-family:"FF Tisa";
src: url("/static/FFTisa/TisaPro-Regular.otf") /* EOT file for IE */
}

@font-face {
font-family:"FF Tisa boldslant";
src: url("/static/FFTisa/TisaPro-BoldIta.otf") /* EOT file for IE */
}

body {
  font-family: 'FF Tisa', 'San', serif;
  width:100%;
  height:100%;
  margin-bottom: 30px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.box {
  width: 900px;
  margin: 40px auto;
}

/**************
    Globals           
****************/
a{
  text-decoration: none;
  border-bottom: 1px dashed #999;
}

h1{
  font-family: 'FF Tisa boldslant', 'San', serif;
}

/**************
    Content           
****************/

.content{
  margin-left: 200px;
}
.content>.page-list{
  list-style-type: none;
}
.page-list{
  width:100%
  background:blue;
}
.title:first-letter{
  font-size:140%;
}
.page-list>.title>.date{
  float: right;
}
.page-list>.title{
  background: rgba(248, 248, 255, 0.47);
  padding:30px;
  margin: 10px;
  width:100%;
}

/**************
    topbar           
****************/
.topbar{
  position:absolute;
  top:0px;
  right:0px;
  left:0px;
  height:10px;
  background-color: rgba(36, 197, 211, 0.51);
}

/**************
    Sidebar           
****************/
@keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}

.sidebar{
  -webkit-box-shadow: inset 0 0 20px 0px #000000;
  position: fixed;
  top:0px;
  bottom:0px;
  left:0px;
  width:300px;
  opacity:0.8;
  background-image: url("/static/img/background.jpg");
  background-position: 0px 0px;
  background-repeat: repeat-x;
  animation: animatedBackground 30s linear infinite;
}

.nav-menu{
  position: fixed;
  left:35px;
  top:30%;
  //margin-left: 200px;
}
.nav-menu>a{
  padding: 10px;
  margin: 10px;
  background: ghostwhite;
  display: list-item;
  list-style-type: none;
  border:1px dashed;
  opacity: 0.5;
}

/******************
    BLOG POST
*******************/
.tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  font-size: 75%;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color:orange;
  color: white;
}

.tag:hover::after {
   border-left-color: orange; 
}
.date{
  font-family: Arial;
  font-size: 75%;
  float:right;
}