/**************
   Top Lvl Css           
edited line 4224 in bootstrap.css
768 to 968
****************/

@font-face {
font-family:"FF Tisa";
src: url("/static/FFTisa/TisaPro-Regular.otf") /* EOT file for IE */
}

@font-face {
font-family:"FF Tisa boldslant";
src: url("/static/FFTisa/TisaPro-BoldIta.otf") /* EOT file for IE */
}

html, body {
    max-width: 100%;
}

body {
  font-family: 'FF Tisa', 'San', serif !important;
  letter-spacing: 0.0605em;
  font-weight: normal;
  line-height: 1.5;
}

/**************
    Globals           
****************/

.center{
  text-align: center;
}

.bold{
  font-weight: bolder;
}

h1{
  font-family: 'FF Tisa boldslant', 'San', serif !important;
}
.navbar-brand{
  font-family: 'FF Tisa', 'San', serif !important;
}

/**************
    Content           
****************/
.content>a{
  text-decoration: none;
  border-bottom: 1px dashed #999;
}

.content>.page-list{
  list-style-type: none;
}

.page-list{
  width:100%
  background:blue;
}

.page-list>.title>.date{
  float: right;
}
.page-list>.title{
  background: rgba(248, 248, 247, 1);
  padding:30px;
  margin: 10px;
  width:100%;
}

/**************
    topbar           
****************/
.topbar{
  position:absolute;
  top:0px;
  right:0px;
  left:0px;
  height:10px;
  background-color: rgba(36, 197, 211, 0.51);
  background-color: orange;
}

/**************
    Sidebar           
****************/
/*Animating the backgroun*/

@keyframes animatedBackground {
  from { background-position:0 100%; }
  to { background-position: 100% 100%; }
}

.sidebar{
  -webkit-box-shadow: inset 0 0 20px 0px #000000;
  position: fixed;
  top:0px;
  bottom:0px;
  left:0px;
  width:300px;
  opacity:0.8;
  background-image: url("/static/img/background.jpg");
  //background-position: 0px 0px;
  background-position: bottom;
  background-repeat: repeat-x;
  animation: animatedBackground 30s linear infinite;
}

.nav-menu{
  position: fixed;
  left:35px;
  top:30%;
}
.nav-menu>a{
  padding: 10px;
  margin: 10px;
  background: ghostwhite;
  display: list-item;
  list-style-type: none;
  border:1px solid;
  opacity: 0.8;
  color: orange;
}

/******************
    BLOG POST
*******************/
.tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  font-size: 75%;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color:orange;
  color: white;
}

.tag:hover::after {
   border-left-color: orange; 
}
.date{
  font-family: Arial;
  font-size: 75%;
  float:right;
}